Package: jp.r-plus.noalerteow
Name: No Alert EOW
Priority: optional
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: quick backToCallerApplication.
Maintainer: r_plus
Author: r_plus
Section: Tweaks
Tag: purpose::extension
dev: rplus
